.btn-crypto{height:48px!important;border-radius:10px!important;transition:.5s!important;
font-size:14px!important;text-align:center!important;
font-weight:600!important;display:block;
text-decoration:none;
.logo-crypto {
    visibility: hidden !important; /* Делает элемент невидимым */}
border:1px solid;